.ms-2 {
    padding: 0.5rem;
}
/*@media (max-width: 1200px) {
    .nav-item.button {
        margin: 0.5rem 0;
    }
}*//*to fix when screen is less than 1200 styles are shitty*/ 
.user-dropdown-container {
    color: #ccc;
    position: relative;
    display: inline-block;
    padding: 0.25rem  0.5rem;
}
.user-dropdown-container:hover{
    color: #fff;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    z-index: 1000;
    cursor: pointer;
}
.user-dropdown-container:hover{
    transform: scale(1.01);
}
.login-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    background-color: #000 !important; /* Dark background for login variant */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;

}