:root {
  width: 100%;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc800;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #ffc800;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc800;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 255, 200, 0;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 200, 0;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #ffc800;
  --bs-link-hover-color: #cca000;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff4cc;
}
*{
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-size: 2.5em;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}


fieldset {
  background-color:#f9f9f9 ;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 0.5px solid #ffc800;
}

label {
  display: block;
  margin-top: 8px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}
input:focus{
   outline: none;
  border-color: #ffc800;

}
input:hover{
  border-color: #ffc800;
  transform: scale(1.02);
}

.Mybutton {
  width: 120px;          
  height: 60px; 
  padding: 14px;
  background: linear-gradient(to right, #ffc800, #D5B60A);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.Mybutton:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 4px #cca000;
}


.form-container {
  border: 2px solid #ffc800;
  margin-top: 50px;
  padding: 30px;
  max-width: 1100px;
  margin: 120px auto ;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.main-container {
  padding: 0 10%;
  margin-top: 70px; /* adapte selon ta navbar */
}


.fouille-group {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  
}
.fouille-group h4{
  border-left: 4px solid #ffc800;
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox-group {
  margin-bottom: 8px;
}
.checkbox-label input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--primary); /* if supported by browser */
}


.result-box {
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border: 2px solid #ffc800;
  border-radius: 8px;
  border: #ffc800 ;
}


.CircularProgressbar {
  width: 100px;
  height: 100px;
  float: left;
  position: fixed;
  top : 100px;
  right: 500px;
  z-index: 1000;
  color: #ffc800;
  font-size: 20px;
}
fieldset input {
  border: #000 solid 0.5px;
  border-radius: 8px;

}
fieldset input:focus,
fieldset select:focus {
  outline: none;
  border-color: #ffc800;
  box-shadow: 0 0 5px rgba(255, 200, 0, 0.5);
}
fieldset input:hover{
  border-color: #ffc800;
  box-shadow: 0 0 5px rgba(255, 200, 0, 0.5);
  transform: scale(1.02);
}


select {
  background-color: #fff;
  color: #000;
}
select:invalid {
  color: #6c757d; /* gris avant choix */
}


